@charset "ISO-8859-1";
.highlight { background-color: yellow; }
.highlight { background-color: red; }
.highlight { background-color: green; }

.container
{
    border-radius: 10px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    display: inline-block;
    cursor: pointer;
}
