table, th, td
{
    border: 1px solid black;
    text-align: center; padding: 0px;
    font-family: tahoma, Helvetica, sans-serif;
}
table
{
    width: 100%;
    border-spacing: 0px;
}
strong
{
    color: #000080; /* Navy */
}
td
{
    background-color: aqua;
    font-weight: 900; /* [100,900] "bold" == 700, "normal" == 400 */
}
