.relbox
{
    width: 800px;
    height: 740px;
}
.containerLeft
{
    border-radius: 10px;
    margin: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(229, 238, 238);
    position: relative;
    float: left;
}
.containerRight
{
    border-radius: 10px;
    margin: 8px;
    padding-right: 95px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(229, 238, 238);
    position: relative;
    float: right;
}
.containerRightBot
{
    border-radius: 10px;
    margin: 8px;
    padding-right: 120px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(229, 238, 238);
    position: relative;
    float: right;
}
.containerBottom1
{
    border-radius: 10px;
    margin: 8px;
    padding-right: 33px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(229, 238, 238);
    display: block;
    position: relative;
    float: left;
}
.containerBottom2
{
    border-radius: 10px;
    margin: 8px;
    border-width: 2px;
    padding-right: 204px;
    border-style: solid;
    border-color: rgb(229, 238, 238);
    display: block;
    position: relative;
    float: left;
}
.paragraph
{
    margin: 18px;
    padding: 18px;
    display: inline-block;
}
.widgetTitle
{
    position: relative;
    margin: 0px;
    margin-top: 2px;
    margin-left: 10px;
    font-size: 0.7em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}
.widgetInputTitle
{
    font-size: 21px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}
.pageTitle
{
    font-size: 2.3em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}
.background
{
    background-color: rgb(102, 176, 211);
}